<!DOCTYPE HTML>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calcultrice simple</title>
    <link rel="stylesheet" href="/src/public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="calculator-card">
        <h1>Calculatrice simple</h1>
        <form action="#" th:action="@{/calculator}" th:object="${calculation}" method="post">
            <div class="form-group">
                <label>Première valeur :</label>
                <input id="left" type="text" th:field="*{leftArgument}" class="form-control"
                    placeholder="Entrer une première valeur">
            </div>
            <div class="form-group">
                <label>Choisir une opération :</label>
                <select id="type" th:field="*{calculationType}" class="form-control form-control-lg">
                    <option value="ADDITION" selected="true"> + </option>
                    <option value="SUBTRACTION" selected="true"> - </option>
                    <option value="MULTIPLICATION"> x </option>
                    <option value="DIVISION"> / </option>
                </select>
            </div>
            <div class="form-group">
                <label>Seconde valeur :</label>
                <input id="right" type="text" th:field="*{rightArgument}" class="form-control"
                    placeholder="Entrer une deuxième valeur">
            </div>
            <button id="submit" type="submit" class="btn btn-primary">=</button>
            <!-- Error messages -->
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul id="errors" th:if="${#fields.hasErrors('*')}">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>

            <!-- Result display -->
            <div th:if="${response}" class="result">
                <span id="solution" th:text="${response.getSolution()}">Solution</span>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
</body>

</html>